

<header>
    <nav>
        <div class="nav-left">
            <div>
                <a href="/">QBlogger</a>
            </div>
            <ul>
                <!-- <li><a href="/"><i class="fa-solid fa-house" style="color: #ffffff;"></i></a></li> -->
                <li><a href="/">Home</a></li>
                <li><a href="/collections">Collections</a></li>
                <li><a href="/about">About Us</a></li>
            </ul>
        </div>

        <div class="nav-right">
            <ul>
                <% if (isAuth) { %>
                    <li><a href="/logout">Log Out</a></li>
                <% } else { %>
                    <li id="signup"><a href="/signup">Sign Up</a></li>
                    <li><a href="/login">Login</a></li>
                <% } %>
            </ul>
        </div>
        
    </nav>
</header>